body{
    background-color: rgb(243, 241, 216);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    margin: 0 auto;
    background-image: linear-gradient(to right, #0b1726, #1f3f66);
}
header{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #161616;
    border-radius: 7px;
    margin-top: 50px;
    
}
.logo img{
    width: 45%;
    padding-top: 50px;

}
.navegacao{
    overflow: hidden;
}
.navegacao a{
    color: rgb(216, 211, 211);
    float: right;
    padding: 5px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    
}
.navegacao a:hover{
    color: #1f3f66;
    background-color: black;
    border-radius: 20px;
    
}
.conteudo_lateral, #div_cima, #div_baixo{
    background-color: gainsboro;
    margin: 15px 2px 25px 2px;
    padding: 15px;
    text-align: justify;
    border-radius: 2px                  ;
    box-shadow: 10px 10px 10px rgb(10, 12, 32);
    width: 30%;
    
    
}
#div_meio{
    
     background-color: gainsboro;
    margin: 15px 2px 25px 2px;
    width: 60%;
   
    text-align: justify;
    border-radius: 2px                  ;
    box-shadow: 10px 10px 10px rgb(10, 12, 32);
}
.principal{
    display: flex;
    flex-direction: row;
    
}
.rodape{
    color: darkgray;
    font-size: 12px;
    text-align: center;
    padding: 20px;
}
@media screen and (max-width:600px) {
    .principal, .conteudo_lateral{
        width: 100%;
        flex-direction: column;
        padding: 0px    ;
    }
}