html, body{
    margin: 0;
    height: 100%;
    font-family: Lato, sans-serif;
    color: black;
}

.parallax1{
    position: relative;
    background-image:url("../img/img_parallax.jpg");
    height: 100%;
    opacity: 0.35;
    background-attachment: fixed;/*fixa a imagem que permite q os outros elementos da imagem rolem*/
    background-position: center;/*posiciona a imagem de forma centralizada mesmo que o navegagor seja redimensionado*/
    background-repeat: no-repeat; /*caso a tela seja maior que a imagem n permitira que a imgem seja repetida*/
    background-size: cover;/*redimenciona a imagem de forma que ocupe a area visivel da tela mantendo a proporção*/
}

.caption{
    position: absolute;
    left: 0%;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border{
    /**altera as caracteriasticas do tesxto : cor de fundo , cor de texto , espaçamento e tamanho da forte e espaçamento entre caracteres*/
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}

.box1{
    background-color: white;
     text-align: justify;
     padding: 50px 80px;
}

.parallax2{
    position: relative;
    background-image:url("../img/img_parallax2.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;/*fixa a imagem que permite q os outros elementos da imagem rolem*/
    background-position: center;/*posiciona a imagem de forma centralizada mesmo que o navegagor seja redimensionado*/
    background-repeat: no-repeat; /*caso a tela seja maior que a imagem n permitira que a imgem seja repetida*/
    background-size: cover;/*redimenciona a imagem de forma que ocupe a area visivel da tela mantendo a proporção}*/
}
    
.box1{
    background-color: rgb(180,180,180);
}

.parallax3{
    position: relative;
    background-image:url("../img/img_parallax3.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;/*fixa a imagem que permite q os outros elementos da imagem rolem*/
    background-position: center;/*posiciona a imagem de forma centralizada mesmo que o navegagor seja redimensionado*/
    background-repeat: no-repeat; /*caso a tela seja maior que a imagem n permitira que a imgem seja repetida*/
    background-size: cover;/*redimenciona a imagem de forma que ocupe a area visivel da tela mantendo a proporção}*/
}

.box2{
    background-color: white;
     text-align: justify;
     padding: 50px 150px;
}
