body{
    background-color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header{
    background-color: rgb(111, 153, 111);
    color: white;
    padding: 20px;
}
.grid-container{
    background-color: rgb(170, 197, 170);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        
}
.grid-item{
    background-color: rgb(56, 126, 56);
    padding: 20px;
    border-radius: 7px;
    margin: 10px;
   
    
}