body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e3edf5;
    color: #333;
    margin: 0 auto;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    columns: #6a0e0e;

}
form{
    background-color: #ffffff;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}
label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
#nome, #idade{
    width: 90%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button{
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover{
    background-color: #065d0b;
}
ul{
    list-style-type: none;
    padding: 0;
}
li{
    background-color: #ffffff;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 4px;
    width: 400px;
}
a{
    color: #3caf50;
    text-decoration: none;
    margin-top: 15px;
}
a:hover{
    text-decoration: underline;
}
    
