body{
    background-color: cyan;
    border: 1px solid black;
    margin: 0px 40px 40px 40px;
    
}
h1{
    margin: 10px 0px 150px 30px;
    background-color: blue;
    border: 2px dashed white;
    padding: 20px 20px 20px 40px;
    
    width: 400px;
    height: 100px;
    color: white;
    
    
}
p{
     border: 1px solid rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    margin: 0px 0px 0px 10px;
    width: 500px;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.box1{
    background-color: yellow;
    color: blue;
    width: 400px;
    height: 50px;
    position: static;
}
.box2{
    background-color: green;
    color: red;
    width: 400px;
    height: 50px;
    position: relative;
    left: 400px;
    bottom: 50px;

}
.box3{
    background-color: red;
    color: yellow;
    width: 400px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.box4{
    background-color: blue;
    color: yellow;
    width: 400px;
    height: 50px;
    position: fixed;
    top: 80px;
}
.box5{
    background-color: purple;
    color: yellow;
    width: 400px;
    height: 50px;
    position: sticky;
    bottom: 20px;
}
.layer1{
    background-color: greenyellow;
    columns: blue;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 0px;
    left: 25px;
    z-index: 2;
}
.layer2{
    background-color: cadetblue;
    color: yellow;
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 20px;
    left: 50px;
    z-index: 1;
}
