.esqcima{
    background-color: green;
    color: white;
    width: 300px;
    height: 150px;
    position: absolute;
    top: 50px;
    left: 50px;

}
.esqbaixo{
    background-color: blue;
    width: 300px;
    color: white;
    height: 150px;
    position: relative;
    position: absolute;
    bottom: 50px;
    left: 50px;

}
.esqcentro{
    background-color: red;
    width: 300px;
    height: 150px;
    position: relative;
    position: absolute;
    top: 300px;
    left: 50px;
}
.dircima{
    background-color: red;
    color: white;
    width: 300px;
    height: 150px;

    position: absolute;
    top: 50px;
    right: 50px;

}   
.dirbaixo{
    background-color: green;
    width: 300px;
    height: 150px;

    position: absolute;
    bottom: 50px;
    right: 50px;

}
.dircentro{
    background-color: blue;
    color: white;
    width: 300px;
    height: 150px;

    position: absolute;
    bottom: 300px;
    right: 50px;

}
.lay1{
    background-color: blue;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
}
.lay2{
    background-color: green;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: -1;

}
.lay3{
    background-color: red;
    width: 100%;
    height: 279px;
    position: absolute;
    top: 500px;
    left: 0px;
    z-index: -1;

}